#nav-logo {
  font-family: "Bungee", cursive;
}

.navbar-brand {
  height: 120px;
  width: 100%;
  z-index: 10;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .navbar-brand {
    background-color: rgb(255, 178, 75);
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
  }
}
