#nav-logo {
  font-family: "Bungee", cursive;
}

.navbar-brand {
  height: 120px;
  width: 100vw;
  z-index: 10;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
