.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2em;
}

.tweeter-button {
  background-color: #4056a1;
  font-family: "Bungee";
  color: white;
  position: absolute;
  left: 0%;
  top: 30px;
}

.counter {
  font-family: "Bungee";
  font-weight: 700;
  position: absolute;
  right: 0%;
  top: 30px;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid #545149;
  background-color: #f4f1ec;
  width: 100%;
}

.new-tweet {
  width: 100%;
  display: none;
}

.new-tweet-show {
  display: block;
  margin-bottom: 4em;
  margin-top: 0.8em;
}

.tweet-form {
  width: 100%;
}

#tweet-question {
  width: 100%;
}

#tweet-container {
  margin-top: 40px;
  width: 90%;
}

.tweet-receiver {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#div-container {
  position: relative;
}

.error-counter {
  color: red;
}

.tweet {
  width: 100%;
  margin: 1em 0;
  border: 3px solid #545149;
  background-color: #f4f1ec;
  padding: 1em;
}

.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.past-tweet-comment {
  height: auto;
  border-bottom: 2px solid #545149;
  word-wrap: break-word;
}

.tweet-footer {
  font-size: small;
  display: flex;
  justify-content: space-between;
}

#tweet-firstname {
  font-weight: 300;
  display: flex;
  flex-direction: row;
}

.tweet-img {
  border-style: none;
  margin-right: 0.5em;
  height: 64px;
  width: 64px;
}

#tweet-username {
  color: #81a0e670;
  display: none;
}

article:hover {
  box-shadow: 8px 8px #615b4c57;
}

article:hover #tweet-username {
  display: block;
}

.first-warning {
  border: 2.5px solid red;
  height: 50px;
  margin-bottom: 30px;
  padding: 1%;
  text-align: center;
  color: red;
  display: none;
}

.second-warning {
  border: 2.5px solid red;
  height: 50px;
  margin-bottom: 30px;
  padding: 1%;
  text-align: center;
  color: red;
  display: none;
}

.first-warning-show {
  display: block;
}

.second-warning-show {
  display: block;
}

.arrow {
  position: relative;
  top: 28px;
  right: 50%;
  color: red;
  animation: slide 1s ease-in-out infinite;
}

@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }
}

.arrow:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    padding: 0em;
  }
  .main-header {
    margin-top: 0em;
    margin-right: 0em;
  }
}
